* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

aside {
  width: 300px;
  border-right: 1px solid #dddddd;
  min-height: 100vh;
  padding: 25px;
}

.logo img {
  height: 32px;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
}

.menu li {
  padding: 15px 0;
}

.menu span,
.menu a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.menu a:hover {
  color: #2c55d3;
}

.menu > a span {
  padding-left: 10px;
}

.menu hr {
  border: none;
  border-top: 1px solid #dddddd;
}

.menu .active {
  color: #2c55d3;
}

main {
  flex: 1;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 25px;
  border-bottom: 1px solid #ddd;
}

.header .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-none {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode-toggle {
  width: 24px;
}

.profile-pict {
  border-radius: 50px;
}

.profile-name {
  font-size: 14px;
  padding: 10px;
}

.dropdown-icon {
  width: 12px;
}

.content {
  color: #5f5f5f;
  padding: 25px;
}

.content h1 {
  color: #000;
  margin-bottom: 20px;
  font-size: 32px;
}

.content p {
  margin-bottom: 20px;
}

.hero {
  display: flex;
  gap: 20px;
}

.banner {
  flex: 1;
}

.banner img {
  width: 100%;
}

.announcement {
  width: 350px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-top: 5px solid #2c55d3;
  border-radius: 10px;
}

.announcement h3 {
  margin-bottom: 15px;
}

.announcement li {
  list-style-type: none;
  padding: 10px 0;
  color: #333333;
  border-top: 1px solid #dddddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

th {
  color: #000;
  background-color: #f9fafb;
}

td {
  border-top: 1px solid #f9fafb;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.lihat {
  background-color: #007bff;
  color: white;
}

.btn.edit {
  background-color: #dc9f39;
  color: white;
}

.status.green {
  background-color: #28a745;
  color: white;
}

.status.red {
  background-color: #dc3545;
  color: white;
}

.comment {
  background-color: #007bff;
  color: white;
}

select {
  padding: 10px;
  border-radius: 10px;
  background-color: #f9fafb;
  border: 2px solid #dddddd;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  width: 100%;
}
